version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  unit_tests:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # - node/install:
      #     install-yarn: true
      #     node-version: '16.13'
      - run:
          command: npm ci
          name: Install pacakages
      - run:
          command: npm run test
          name: Run tests
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

workflows:
  run_unit_tests:
    jobs:
      - unit_tests
